.countdown {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countdown-title {
  font-size: 50px;
  margin-bottom: 25px;
  color: white;
}

.countdown-time {
  display: flex;
  color: white;
}

.countdown-time div {
  padding: 20px;
  font-size: 40px;
}

.countdown-time p {
  margin: 0;
}

.countdown-image {
  background-image: url("./tony-coffee.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 500px) {
  .countdown {
    display: flex;
  }
  .countdown div {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .countdown-image {
    display: none;
  }
  .time-container {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
      url("./tony-coffee.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
